@font-face {
    font-family: 'Antiquity Print';
    src: url('../fonts/antiquity_print.ttf');
}

@font-face {
    font-family: 'Dogica';
    src: url('../fonts/dogica.ttf');
}

@font-face {
    font-family: 'Dogica Pixel';
    src: url('../fonts/dogicapixel.ttf');
}

.big_label {
    -fx-font-family: 'Antiquity Print';
    -fx-font-size: 30px;
}

.med_label {
    -fx-font-family: 'Antiquity Print';
    -fx-font-size: 20px;
}

.clickabel {
    -fx-text-fill: black;
}

.clickabel:hover{
    -fx-text-fill: white;
}

.text_field {
    -fx-font-family: 'Dogica Pixel';
    -fx-font-size: 14px;
}

.card-labels .label{
    -fx-font-family: 'Dogica Pixel';
    -fx-font-size: 14px;
}

.norm-text{
    -fx-font-family: 'Dogica Pixel';
    -fx-font-size: 13px;
}

.card{
    -fx-background-color: #FFEDDA;
}

.cust-button{
    -fx-font-family: 'Dogica Pixel';
    -fx-font-size: 14px;
    -fx-border-width: 0; /* Remove the border */
    -fx-background-color: transparent;
}

.cust-button:hover{
    -fx-background-color: #FFEDDA;
}

.add-button{
    -fx-font-family: 'Dogica Pixel';
    -fx-font-size: 14px;
    -fx-border-width: 0; /* Remove the border */
    -fx-background-color: transparent;
}

.add-button:hover{
    -fx-background-color: #CDFAD5;
}

.del-button{
    -fx-font-family: 'Dogica Pixel';
    -fx-font-size: 14px;
    -fx-border-width: 0; /* Remove the border */
    -fx-background-color: transparent;
}

.del-button:hover{
    -fx-background-color: #FFD5D5;
}

.go-btn{
    -fx-font-family: 'Antiquity Print';
    -fx-font-size: 18px;
    -fx-border-width: 0; /* Remove the border */
    -fx-background-color: transparent;
}

.go-btn:hover{
    -fx-text-fill: #FFD5D5;
}

.cardlist{
    -fx-font-family: 'Dogica Pixel';
    -fx-font-size: 14px;
}

.btn_font{
    -fx-font-family: 'Dogica Pixel';
    -fx-font-size: 14px;
}

.btn_font:hover{
    -fx-text-fill: #fcd5ff;
}

.big_btn_font{
    -fx-font-family: 'Antiquity Print';
}

.big_btn_font:hover{
    -fx-text-fill: #fcd5ff;
}

.room{
    -fx-background-color: #fffcda;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.room:hover{
    -fx-background-color: #f5cdfa;
}